@use '../helpers' as *;

.hero {
    padding: var(--section-padding);

    &__inner {
        height: rem(600);
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mobile {
            display: flex;
            flex-direction: column;
        }
    }

    &__content {
        width: 100%;
        margin-right: rem(40);
        z-index: 4;

        @include tablet-above {
            flex: 0 0 40%
        }

        @include tablet {
            margin-right: 40px;
        }

        @include mobile {
            margin-right: 0px;
            margin-bottom: rem(30);
        }
    }

    &__body {
        margin-bottom: rem(20);
        min-height: 5.2em;

        @include mobile {
            min-height: 5.6em;
        }
    }

    &__subtitle {
        color: var(--color-grey-60);
    }
}