@use '../helpers' as *;

.hero {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        width: 100%;
        margin-right: max(40px, 10%);

        @include tablet-above {
            flex: 0 0 40%
        }

        @include tablet {
            margin-right: 40px;
        }

        @include mobile {
            margin-right: 0px;
            margin-bottom: rem(30);
        }
    }

    &__body {
        margin-bottom: rem(20);
        min-height: 5.2em;

        @include mobile {
            min-height: 5.6em;
        }
    }

    &__subtitle {
        color: var(--color-grey-60);
    }

    &__scene-wrapper {
        height: 100%;
        width: 100%;
    }
}