@use './functions' as *;

$laptop: 1440.98;
$tablet: 1023.98;
$mobile: 767.98;
$mobile-s: 480.98;

@mixin laptop-above {
    @media (width > rem($laptop)) {
        @content;
    }
}

@mixin laptop {
    @media (width <= rem($laptop)) {
        @content;
    }
}

@mixin tablet-above {
    @media (width > rem($tablet)) {
        @content;
    }
}

@mixin tablet {
    @media (width <= rem($tablet)) {
        @content;
    }
}

@mixin mobile-above {
    @media (width > rem($mobile)) {
        @content;
    }
}

@mixin mobile {
    @media (width <= rem($mobile)) {
        @content;
    }
}

@mixin mobile-s-above {
    @media (width > rem($mobile-s)) {
        @content;
    }
}

@mixin mobile-s {
    @media (width <=rem($mobile-s)) {
        @content;
    }
}

// For devices with a cursor
@mixin hover($hasActiveEffectOnMobile: true) {
    @media (any-hover: hover) {
        &:hover {
            @content;
        }
    }

    @if $hasActiveEffectOnMobile {
        @media (any-hover: none) {
            &:active {
                @content;
            }
        }
    }
}

@mixin responsive-offset($start-width, $count, $step-width, $start-value, $step-value) {

    // Calculate the value for resolution 1980px and lower
    @media (max-width: 1980px) {
        @for $i from 0 through $count {
            $width: $start-width + $i * $step-width;
            $offset: $start-value + $i * $step-value;

            @media (min-width: $width) {
                left: rem($offset);
            }
        }
    }

    // Calculate the final value for resolution 1980px and higher
    $final-index: floor((1980 - $start-width) / $step-width);
    $final-offset: $start-value + $final-index * $step-value;

    @media (min-width: 1980px) {
        left: rem($final-offset);
    }
}